<a href="https://colab.research.google.com/github/qurainisepty/portfolio/blob/main/Web_Scrapping_with_BeautifulSoup.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Library yang dibutuhkan
from bs4 import BeautifulSoup as bs
from urllib.request import urlopen, Request
import pandas as pd

In [ ]:
user_agent = "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/97.0.4692.71 Safari/537.36"
headers ={
    "User_Agent" : user_agent,
    "Accept" : "image/avif,image/webp,image/apng,image/svg+xml,image/*,*/*;q=0.8"
}
alamat = "https://www.kompas.com/"

In [ ]:
data_request = Request(alamat, headers=headers)
response = urlopen(data_request)

In [ ]:
soup = bs(response, 'html.parser')

In [ ]:
obj = soup.find( "div", {"class":"most__wrap clearfix"})
news_titles = obj.find_all('h4', {"class" : "most__title"})

In [ ]:
news = [title.get_text() for title in news_titles]
df_news = pd.DataFrame(news, columns=["Judul Berita Populer"])
df_news

                                Judul Berita Populer
0       Gempa Guncang Jakarta, Depok, hingga Tangsel
1  Gempa Terkini, M 6,7 Guncang Sumur Banten, Ter...
2  "Nanti Saja Bayarnya Bapak Ibu, Selamatkan Dir...
3  Di-bully Warganet Usai Kembalikan Bantuan Ganj...
4  Gempa 6,7 Guncang Banten, Terasa di Jakarta, B...
5  Aksi Kapolda Metro Lebur Tim Jaguar hingga Rai...
6  Panggil Anak Kiai Jombang Tersangka Pencabulan...
7  Seragam Satpam, Dulu Diganti untuk Tumbuhkan K...
8  Cerita Korban Wanprestasi Yusuf Mansur, 11 Tah...
9  Gempa Hari Ini M 6,7 Guncang Banten, Sudah 2 K...

In [ ]:
print(df_news)

                                Judul Berita Populer
0       Gempa Guncang Jakarta, Depok, hingga Tangsel
1  Gempa Terkini, M 6,7 Guncang Sumur Banten, Ter...
2  "Nanti Saja Bayarnya Bapak Ibu, Selamatkan Dir...
3  Di-bully Warganet Usai Kembalikan Bantuan Ganj...
4  Gempa 6,7 Guncang Banten, Terasa di Jakarta, B...
5  Aksi Kapolda Metro Lebur Tim Jaguar hingga Rai...
6  Panggil Anak Kiai Jombang Tersangka Pencabulan...
7  Seragam Satpam, Dulu Diganti untuk Tumbuhkan K...
8  Cerita Korban Wanprestasi Yusuf Mansur, 11 Tah...
9  Gempa Hari Ini M 6,7 Guncang Banten, Sudah 2 K...